# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Dell\Documents\B.Sc IT (Hons.) Computing and Business\Year 3\Semester 1\CPS3230\CPS3230_Assignment_Pt_2.2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
